body{
    background: url(../img/intro-bg.jpg) no-repeat ;
    
    
    padding: 50px 50px;
    text-align: center;
    color: #fff;
    background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
    background-color: #000;
    background-size: cover;
    
}




   

    .brand-heading {
        padding-top: 100px;
        font-size: 80px;
        text-align: center;
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
        color: #fff;
        
        
    }

     .intro-text {
         
        font-size: 25px;
    }
